block variables

doctype html
html(lang="ru")
  include ../modules/head
  body
    include ../modules/header
    include ../modules/main
    include ../modules/footer
    block scripts
      script(src="js/scripts.min.js")