.btn {
  padding: 13px 30px 14px;
  background-color: #403432;
  font: 700 14px/21px Merriweather ;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #776763;
  }

  &:disabled {
    background-color: #C1B4B1;
  }

  &--active {
    padding: 14px 9px 13px 32px;
    min-width: 118px;
    position: relative;
    text-align: center;
    background-color: #5B3A32;

    &::before {
      position: absolute;
      content: '';
      left: 8px;
      top: 14px;
      width: 20px;
      height: 20px;
      background-image: url('../img/check.svg');
      background-repeat: no-repeat;
    }
  }
}